.main-header {
  background-color: #000000;
  min-height: 60px;
  display: flex;
  align-items: center;
  padding: 10px;
}

.main-header__logo {
  font-weight: bold;
  color: #ffffff;
  font-size: 30px;
}

.main-header__logo:hover {
  color: #605050;
}

.nav {
  display: flex;
  align-items: center;
}
