.social-list {
  width: 200px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
  @media (max-width: 650px) {
    justify-content: center;
  }
}

.social-list__link {
  color: #ffffff;
  transition: all 0.1s ease-in-out;
}

.social-list__link:hover {
  color: #605050;
}

.social-list__link:active {
  color: #8d7d7d;
}
