.main-footer {
  background-color: #000000;
  min-height: 70px;
  display: flex;
  align-items: center;
  padding: 10px;
}

.main-footer__list {
  display: flex;
  align-items: center;
  width: 200px;
}

.main-footer__link {
  padding: 10px;
  color: #ffffff;
  transition: all 0.1s ease-in-out;
}

.main-footer__link:hover {
  color: #605050;
}

.main-footer__link:active {
  color: #8d7d7d;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  color: #ffffff;
}
