.main-footer {
  background-color: #000000;
  min-height: 70px;
  display: flex;
  align-items: center;
  padding: 10px;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  color: #ffffff;
}
