@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
p {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  color: inherit;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  font-family: 'Roboto', sans-serif;
  color: #000000;
  font-size: 16px;
  @media screen and (max-width: 650px) {
    font-size: 14px;
  }
}

button,
input {
  font-family: inherit;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  &--header,
  &--footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 1;
  }
  @media screen and (max-width: 650px) {
    &--footer {
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }
  }
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  font-size: 50px;
  &--main {
    text-align: center;
    margin-bottom: 20px;
  }
  @media screen and (max-width: 650px) {
    font-size: 36px;
  }
}

.page-header {
  padding: 20px 10px;
  border-bottom: 1px solid #c0c0c0;
  &--mods {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }
}

.btn {
  padding: 10px;
  border: none;
  background-color: #000000;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &--full-news {
    text-align: center;
    width: 200px;
    display: block;
    margin-left: auto;
  }
  &--show-more {
    width: 250px;
    display: block;
    border: 2px solid #000000;
    background-color: transparent;
    color: #000000;
    font-weight: bold;
    margin: 0 auto;
  }
  &--show-more:hover {
    color: #ffffff;
    border: 2px solid #605050;
  }
  @media screen and (max-width: 650px) {
    padding: 5px;
    font-size: 14px;
  }
}

.btn:hover {
  background-color: #605050;
}

.btn:active {
  background-color: #8d7d7d;
}

.loader-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 500px;
}

.full-news {
  padding: 20px 20px;
}

.full-news__title {
  text-align: center;
  font-size: 40px;
  margin-bottom: 20px;
  @media screen and (max-width: 650px) {
    font-size: 30px;
  }
  @media screen and (max-width: 450px) {
    font-size: 24px;
  }
}

.full-news__img {
  width: 100%;
  object-fit: cover;
  margin-bottom: 20px;
  border-radius: 10px;
}

.full-news__description {
  font-size: 18px;
  text-align: justify;
  margin-bottom: 15px;
  @media screen and (max-width: 650px) {
    font-size: 14px;
  }
}

.full-news__date {
  margin-bottom: 15px;
  color: #7c7c7c;
}

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
}

.error__description {
  margin-bottom: 20px;
}

.main-page {
  padding-top: 20px;
  padding-bottom: 20px;
}

.main-page__description {
  font-size: 20px;
  text-align: center;
  @media screen and (max-width: 650px) {
    font-size: 14px;
  }
}
